<html>

<h1>
    Ingresar un usuario
</h1>

<form action="." method="POST"> 
    {% csrf_token %}
    <div>
        <label>
            Nombre:
        </label>
        <input type="text" name="nombre" { %if usuario % } value ="{{usuario.nombre}}" { % endif % } required>
    </div>
    <div>
        <label>
            Apellido:
        </label>
        <input type="text" name="apellido" { %if usuario % } value ="{{usuario.apellido}}" { % endif % }  required>
    </div>
    <div>
        <label>
            Email:
        </label>
        <input type="email" name="email" { %if usuario % } value ="{{usuario.email}}" { % endif % } required>
    </div>
    <div>
            <button type="submit">Enviar</button>
    </div>
</form>

</html>